version: '3'

services:
  build: &base
    build: .
    image: rsteube/carapace
    command: sh -c 'cd /carapace/example && go build .'
    volumes:
      - '.:/carapace/'
      - 'go:/home/circleci/go/'

  bash:
    <<: *base
    command: bash

  elvish:
    <<: *base
    command: elvish

  fish:
    <<: *base
    command: fish
  
  ion:
    <<: *base
    command: ion
  
  nushell:
    <<: *base
    command: nu
  
  oil:
    <<: *base
    command: osh --completion-display minimal

  powershell:
    <<: *base
    command: pwsh
  
  xonsh: 
    <<: *base
    command: xonsh

  zsh:
    <<: *base
    command: zsh

  test:
    <<: *base
    working_dir: /carapace
    command: go test -v ./...


volumes:
  go:
