version: 2.1

references:
  workspace: &workspace
    /go/src/github.com/rsteube/carapace

commands:
  run_tests:
    steps:
      - run:
          name: "build"
          command: |
            go get -t -v ./...
            PATH=$PATH:$PWD/bin go test -v ./...
            go build
            go vet
            cd example
            go build .
      - run:
          name: "install shellcheck"
          command: |
            curl -Lso shellcheck https://github.com/caarlos0/shellcheck-docker/releases/download/v0.4.6/shellcheck
            chmod +x shellcheck
      - run:
          name: "shellcheck bash"
          command: ./shellcheck -e SC2046,SC2207 <(./example/example _carapace bash)
      - run:
          name: "shellcheck fish"
          command: ./shellcheck -e SC1064,SC1072,SC1073 <(./example/example _carapace fish)
      - run:
          name: "shellcheck zsh"
          command: ./shellcheck -e SC2148,SC2154 <(./example/example _carapace zsh)

jobs:
  go-current:
    docker:
      - image: circleci/golang:1.15
        environment:
          GO111MODULE: "on"
    working_directory: *workspace
    steps:
      - checkout
      - run_tests
      - run:
          name: "Check formatting"
          command: diff -u <(echo -n) <(gofmt -d -s .)
  go-previous:
    docker:
      - image: circleci/golang:1.14
        environment:
          GO111MODULE: "on"
    working_directory: *workspace
    steps:
      - checkout
      - run_tests
  go-latest:
    docker:
      - image: circleci/golang:latest
    working_directory: *workspace
    steps:
      - checkout
      - run_tests

workflows:
  version: 2
  main:
    jobs:
      - go-current
      - go-previous
      - go-latest
